<div class="container">
  <div class="row main text-center">
    <h1>These are <%= @author.name %>'s books:</h1>

      <% @author.books.count do |t| %>
        <%= t.title %><br>
      <% end %>

      <br>

      <%= link_to 'Books', books_path, class: 'btn btn-primary' %>
      <%= link_to 'Authors', authors_path, class: 'btn btn-info' %>

  </div>
</div>



