<div class="container-fluid">
  <div class="row">

    <h1>New Book</h1>

    <%= render 'form', book: @book %>

    <%= link_to 'Back to Books', books_path, class: 'btn btn-primary' %>

  </div>
</div>

