<!-- <div class="container-fluid">
  <div class="row welcome">

    <%#= render 'layouts/navbar' %>

    <h1>Welcome to Yvette's Library, <%#= current_user.name %>!</h1><br>
    <h1>This is the welcome page.</h1>

    <%#= link_to 'New Book', new_book_path, class: 'btn btn-primary' %>

  </div>

</div> -->



